.generator {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &-form {
    display: flex;
    input {
      padding: .5rem;
      border: #b3b3b3;
      border-radius: 1em;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow: .75rem .75rem .8rem #b3b3b3,
        -.75rem -.75rem .8rem #ffffff;
      text-shadow: .075rem .075rem .075rem #b3b3b3,
        -.075rem -.075rem .075rem #ffffff;

      &:focus,
      :hover,
      :active {
        outline: none;
        border: none;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
      }
    }

    button {
      margin: 0 1rem;
      padding: .4rem;
      border: none;
      border-radius: 50%;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      cursor: pointer;
      font-size: 1.25rem;
      text-shadow: .075rem .075rem .075rem #b3b3b3,
        -.075rem -.075rem .075rem #ffffff;
      box-shadow: .3rem .3rem .35rem #b3b3b3,
        -.3rem -.3rem .35rem #ffffff;
    }

    @media (max-width: 47rem) {
      min-width: 22.5rem;
      flex-direction: column;
      button {
        margin: 1rem 0;
      }
    }
  }

  &-meme {
    position: relative;
    width: 80%;
    margin: .75rem;
    padding: .5rem;
    border-radius: 1em;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: .75rem .75rem .8rem #b3b3b3,
      -.75rem -.75rem .8rem #ffffff;

    img {
      border-radius: 1em;
      width: 100%;
      height: 100%;
    }

    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      text-transform: uppercase;
      text-shadow: .075rem .075rem .075rem #b3b3b3,
        -.075rem -.075rem .075rem #ffffff;
      letter-spacing: .3rem;
    }

    &__top {
      top: 5%;
    }

    &__bottom {
      bottom: 5%;
    }
  }
}