.list-scrolling {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .75rem;
  width: 40%;

  button {
    padding: .4rem;
    border: none;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    cursor: pointer;
    font-size: 1.25rem;
    text-shadow: .075rem .075rem .075rem #b3b3b3,
    -.075rem -.075rem .075rem #ffffff;
    box-shadow: .3rem .3rem .35rem #b3b3b3,
      -.3rem -.3rem .35rem #ffffff;
  }

  span {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: .2rem .2rem .25rem #b3b3b3,
      -.2rem -.2rem .25rem #ffffff;
  }
}