.todo {
  display: flex;
  align-items: center;
  width: 50%;
  height: 3.75rem;
  padding: .5rem;
  border-radius: 1em;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: .75rem .75rem .8rem #b3b3b3,
    -.75rem -.75rem .8rem #ffffff;

  &-creating {
    width: 80%;
    padding: .5rem;
    border: none;
    border-radius: .5em;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: inset .1rem .1rem .1rem #b3b3b3,
      inset -.1rem -.1rem .1rem #ffffff;
    text-shadow: 1px 1px 1px #b3b3b3,
      -1px -1px 1px #ffffff;

    &:focus,
    :hover,
    :active {
      border: none;
      outline: none;
      overflow: hidden;
    }
  }

  &-saving {
    margin: auto .5em auto auto;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #32aac8;
    text-shadow: 1px 1px 1px #b3b3b3,
      -1px -1px 1px #ffffff;

    &:focus,
    :hover,
    :active {
      border: none;
      outline: none;
      overflow: hidden;
    }
  }
}