.loading {
  $colors: #8ff8fd, #74c3e7, #4a94cf, #2067d1, #0052cc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  span {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #b3b3b3;
    border-radius: 50%;
    animation: loade 2s ease-in-out infinite;

    @for $var from 1 to 6 {
      &:nth-child(#{$var}) {
        background: radial-gradient(nth($colors, $var) 15%, #000);
        animation-delay: $var * 0.2s;
      }
    }
  }
}

@keyframes loade {
  0% {
    background: transparent;
  }

  50% {
    box-shadow: .3rem .3rem .35rem #b3b3b3,
      -.3rem -.3rem .35rem #ffffff;
  }

  100% {
    box-shadow: none;
  }
}