.todo-item {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  width: 50%;
  height: 3.75rem;
  padding: .5rem;
  border-radius: 1em;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: .75rem .75rem .8rem #b3b3b3,
    -.75rem -.75rem .8rem #ffffff;

  &__check {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;

    &:checked+.todo-item__title::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: .5rem;
      height: 1.25rem;
      width: 1.25rem;
      border: 1px solid #b3b3b3;
      border-radius: 1.25em;
      background: radial-gradient(rgb(0, 255, 0), #323232);
      z-index: 1;
    }
  }

  &__title {
    margin-left: .5rem;
    padding: .5rem;
    border-radius: .5em;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: inset .1rem .1rem .1rem #b3b3b3,
      inset -.1rem -.1rem .1rem #ffffff;
    text-shadow: 1px 1px 1px #b3b3b3,
      -1px -1px 1px #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: .5rem;
      height: 1.25rem;
      width: 1.25rem;
      border: 1px solid #b3b3b3;
      border-radius: 1.25em;
      background: radial-gradient(rgb(255, 0, 0), #323232);
      box-shadow: .2rem .2rem .25rem #b3b3b3,
        -.2rem -.2rem .25rem #ffffff;
    }
  }

  &__time {
    margin: auto .5em auto auto;
    text-shadow: 1px 1px 1px #b3b3b3,
      -1px -1px 1px #ffffff;
  }

  &__delet {
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 20px;
      height: 3px;
      border-radius: 50%;
      background: #b3b3b3;
      transform: translateY(-50%) rotate(-45deg) ;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: 20px;
      height: 3px;
      border-radius: 50%;
      background: #b3b3b3;
      transform: translateY(-50%) rotate(45deg) ;
    }
  }
}