@import './style-variables.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 2rem;
  width: 100%;
  min-width: 360px;
  padding: 1.5rem 1%;
  min-height: 100vh;
  background-color: $background;
}